* {
  box-sizing: border-box;
}

.partner {
  &-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-column-gap: 50px;
    grid-template-rows: repeat(14, 100px);
    grid-row-gap: 70px;

    img {
      height: 100px;
      object-fit: contain;
      width: 100%;
    }
  }

  &-img {
    width: 100%;
  }
}
